# What is Pandas
Pandas is a open source data analysis library written in python<br>
It liverages the power and speed of numpy to make data analysis and processing easy for data scientists<br>
It provides rich and highly robust data operations.

###  Two types of data structures in Pandas
- a) Series --> It's a one dimensional array with indexes, it stores a single column or row of data in a Dataframe

- b) Dataframe --> It's a tabular spreadsheet like structure representing rows each of which contains one or multiple columns

**A one dimensional array(labeled) capable of holding any type of data-Series**

**A two-dimensional array(labeled) structure with columns of potentially different types of data- DataFrame**

In [238]:
# from now on let us see the usage of series and dataframes
import numpy as np
import pandas as pd

ser = pd.Series(np.random.rand(17))
ser

0     0.783917
1     0.928590
2     0.118427
3     0.134276
4     0.269666
5     0.248224
6     0.014870
7     0.790524
8     0.746363
9     0.249051
10    0.732422
11    0.622059
12    0.017264
13    0.624711
14    0.530231
15    0.689533
16    0.944861
dtype: float64

In [239]:
type(ser)

pandas.core.series.Series

In [240]:
df = pd.DataFrame(np.random.rand(77,7))
df

           0         1         2         3         4         5         6
0   0.979791  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [241]:
type(df)

pandas.core.frame.DataFrame

In [242]:
df.describe()

,0,1,2,3,4,5,6
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,0.535526,0.519598,0.474962,0.494593,0.519318,0.505748,0.554002
std,0.275746,0.303719,0.284838,0.307946,0.314991,0.306041,0.294634
min,0.025665,0.018246,0.009621,0.004014,0.027291,0.020022,0.013159
25%,0.325812,0.226741,0.244864,0.206163,0.186559,0.213963,0.316049
50%,0.475347,0.551497,0.452416,0.498692,0.529444,0.499114,0.571512
75%,0.783573,0.779531,0.738489,0.780728,0.806981,0.778498,0.833534
max,0.992813,0.994508,0.993614,0.997376,0.996216,0.967701,0.998966

In [243]:
df.dtypes
# data types of

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
dtype: object

In [244]:
df[0][0]="chithraaa"

C:\Users\chith\AppData\Local\Temp\ipykernel_23252\3869562411.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[0][0]="chithraaa"
C:\Users\chith\AppData\Local\Temp\ipykernel_23252\3869562411.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'chithraaa' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[0][0]="chithraaa"

In [245]:
df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
dtype: object

In [246]:
df.head()

           0         1         2         3         4         5         6
0  chithraaa  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115

In [247]:
df.index

RangeIndex(start=0, stop=77, step=1)

In [248]:
df.columns

RangeIndex(start=0, stop=7, step=1)

In [249]:
df.to_numpy()

array([['chithraaa', 0.27454632040563187, 0.5534697911471014,
        0.5776195802083992, 0.17695860512117412, 0.0606860607341877,
        0.9989655529732282],
       [0.1526186113687622, 0.2669942615765034, 0.3366385727424833,
        0.11195355521248462, 0.8069813883861177, 0.043704208928369126,
        0.9029411771679634],
       [0.1365329807244977, 0.42548321184992943, 0.5759919933708187,
        0.005484452569359699, 0.03747027101949352, 0.8897834179615396,
        0.554794288221174],
       [0.2218585944064737, 0.970854055528717, 0.961476320476964,
        0.4975426446129475, 0.7840108958218566, 0.5642396670338212,
        0.3160488339305415],
       [0.6562949804407193, 0.9316609633726765, 0.9405572202990428,
        0.8587616680735285, 0.7711451133904358, 0.6156989098300228,
        0.8871151452492404],
       [0.29635094728673694, 0.5238737861773236, 0.8253892477729435,
        0.14314193718352153, 0.509101640525645, 0.9263453341354595,
        0.4545100836066668],
       [0.4518396263090202, 0.8577841306022131, 0.8588232473832339,
        0.470091633077073, 0.7670017327182298, 0.08447361451112834,
        0.7625608284176952],
       [0.4472835245611896, 0.4559553529288195, 0.1892876938437894,
        0.3601762631181037, 0.8629489935725944, 0.21396288267723684,
        0.9607656308927278],
       [0.41091124605960627, 0.11455730526196506, 0.8343032046281157,
        0.9588950773154442, 0.06940885055166945, 0.10424110317455082,
        0.5055848651152933],
       [0.9677686165648459, 0.6822438801512352, 0.12009244032508071,
        0.15826566152689558, 0.5100340652042419, 0.40760274291884746,
        0.6733838554145473],
       [0.8403366463387282, 0.5837868327151133, 0.3020211310900863,
        0.4772838927925448, 0.027290984681536457, 0.45887410842217735,
        0.5954626241067629],
       [0.26147595697455706, 0.6802851324509352, 0.1377680871385235,
        0.2785552112000278, 0.5354891775387098, 0.022152843893140872,
        0.8133809639432094],
       [0.4753474163167166, 0.8673162035208651, 0.2903016867776307,
        0.28125828504179395, 0.7047570266378449, 0.09436591343948597,
        0.7367923176642832],
       [0.38945069721614356, 0.551496971150008, 0.24486385837801672,
        0.6551554039812336, 0.9166780370025444, 0.9090254057703039,
        0.5715116854364224],
       [0.21310886851087552, 0.7252395399444906, 0.31392593552588133,
        0.08368889528074608, 0.24861992940415478, 0.9665787429322564,
        0.6523386086260791],
       [0.37699498713837176, 0.827675754709263, 0.33978558423660943,
        0.5072458945842333, 0.9962159010551895, 0.4577126452906415,
        0.569899622749393],
       [0.46591241182690424, 0.11737058524369925, 0.39545943968820996,
        0.6114180284534265, 0.08730504791067317, 0.4620985548031562,
        0.07327549149995782],
       [0.37343820458024934, 0.7795308510439047, 0.5112550548440414,
        0.8241191672060788, 0.4407536275129572, 0.44523857524168353,
        0.747957711155667],
       [0.8188995686092009, 0.10175251223001403, 0.5369670724947462,
        0.052572840062381165, 0.15216972622955083, 0.9127479947083743,
        0.5180224818443118],
       [0.4548239690872632, 0.9402208581896697, 0.8297157810896783,
        0.7539870295451611, 0.18570671412067752, 0.7413062818892314,
        0.7252522888437175],
       [0.9928126276013296, 0.2582476285836708, 0.16665098287962543,
        0.752905071467951, 0.9591654717550909, 0.09993666237287968,
        0.4126899693223879],
       [0.6938268263498635, 0.09572928971116423, 0.7986385790233216,
        0.054444519447779394, 0.047776643583655964, 0.5910927675699632,
        0.7342989748202826],
       [0.21868270058131223, 0.07028618277071796, 0.4591198126792434,
        0.04083288633643789, 0.9442152853103316, 0.15008851591610428,
        0.28122839614386985],
       [0.4585961132038876, 0.621695231150846, 0.3096073448255984,
        0.41669045597570076, 0.8213277811416216, 0.3605607160344436,
        0.18652619315054908],
       [0.6689209574915309, 0.5772645376103024, 0.4362331695520256,
        0.7031827049952706, 0.6633957259238338, 0.10394513560266949,
        0.3922697507640206],
       [0.9400489597780322, 0.5322662137730569, 0.20634508885468583,
        0.9719290686564486, 0.9050266879836608, 0.07271675603704042,
        0.11756783253331549],
       [0.42870701504617204, 0.9226426803639773, 0.4949247182182278,
        0.4448698391310034, 0.2970417596831545, 0.781573906817121,
        0.9589885463133997],
       [0.9796020139468411, 0.6479169021509247, 0.9511277188055726,
        0.9241760986759647, 0.671287563338011, 0.8822566549158228,
        0.6803237535856429],
       [0.8375339411132788, 0.09719185291779353, 0.564757510467473,
        0.7700663104959959, 0.3620135250747877, 0.6341379105876858,
        0.9001144850084709],
       [0.325811872147336, 0.026886021588222064, 0.015211537882382387,
        0.8893248382858372, 0.9607585628740296, 0.8558261164077796,
        0.5040637369761372],
       [0.8837448361950269, 0.18519421439076733, 0.036951185668289366,
        0.01846468724887873, 0.7355680209350505, 0.45564504559518515,
        0.013158851917750014],
       [0.3058460282977742, 0.4159032314978257, 0.2497421607776239,
        0.9312827811288815, 0.7756532178345639, 0.6813693115513215,
        0.2378276420660127],
       [0.244922602032709, 0.915272824662288, 0.6000870096473849,
        0.5948850511635941, 0.36910844026762146, 0.08925186707941501,
        0.3254262169385803],
       [0.4223789336815066, 0.6104261675944292, 0.09416142924772464,
        0.833481677934323, 0.185830194936202, 0.8540047524875867,
        0.974565095923267],
       [0.17285260875319708, 0.041490461413641655, 0.7912036550109264,
        0.7244168231248954, 0.6686012387775594, 0.6396206119846229,
        0.16617417603404439],
       [0.739064326216828, 0.4572914064412117, 0.6592622312410499,
        0.2104548416907258, 0.18655859956708631, 0.8637884602979587,
        0.9214200011064833],
       [0.025665238884514885, 0.4544638303510842, 0.407240954255648,
        0.48777851826313723, 0.18244653363543695, 0.08589193854420174,
        0.6001095206144866],
       [0.6524477559157291, 0.1865778423439305, 0.01827468475554339,
        0.5635007434332551, 0.8430549965222948, 0.5817411345738126,
        0.08976648222404437],
       [0.816870524902033, 0.14126064106500036, 0.7624510850525863,
        0.8969532987358377, 0.920167603595421, 0.7858126120846923,
        0.36425763772931175],
       [0.5265659032624747, 0.14525068115478046, 0.3950330442270399,
        0.21591047888576897, 0.6522991909604637, 0.346079721038705,
        0.2861413474115443],
       [0.2763306761583513, 0.9244716512923004, 0.7891857887502355,
        0.2061625654409036, 0.5294441496504887, 0.7784975445010944,
        0.07076307103859192],
       [0.4950222673268644, 0.056384104038672334, 0.3901936379969353,
        0.18609694683494193, 0.9863594074199452, 0.7541151557612585,
        0.2951748768113476],
       [0.29819094565807824, 0.20568571024748772, 0.10127672968610824,
        0.43576846389920587, 0.9248726920925355, 0.5088982211817316,
        0.1316585919138873],
       [0.9711683241110062, 0.5570011918572906, 0.9501185424754108,
        0.9973762520245169, 0.5777103574794792, 0.17270601104861272,
        0.83429825638213],
       [0.05695757943018709, 0.8973647442016384, 0.296940787731502,
        0.004013586231808475, 0.15255013156060238, 0.9467790707343953,
        0.6907155363933875],
       [0.08834281053647552, 0.21628228227471946, 0.6050477465883707,
        0.6023144384700032, 0.36872645425742767, 0.9341983035979012,
        0.907686929837871],
       [0.43119651126332215, 0.018246150834789976, 0.2696765736982768,
        0.1293730017883883, 0.21774948436334896, 0.030052518684894114,
        0.8605842855156345],
       [0.5324516398634002, 0.6028652696192537, 0.009621128399179169,
        0.801768556654523, 0.24418881358159183, 0.39583288380109205,
        0.2971261380037211],
       [0.3943052612158022, 0.18396983333478722, 0.8245403181116788,
        0.7807284758199353, 0.8748695954315976, 0.422164720686793,
        0.38935019762849155],
       [0.9666742360092723, 0.24283340506634465, 0.3711261271491808,
        0.8358716870438453, 0.40553087848031344, 0.6891958433345347,
        0.49875794224730374],
       [0.9127807064109921, 0.22674149728305526, 0.9546985594477849,
        0.8124073047170178, 0.029613228566757743, 0.45588396266259035,
        0.93975985008342],
       [0.6932387478236414, 0.7120821186598717, 0.181171192085246,
        0.7338418362321649, 0.7711253639691766, 0.49911357293719993,
        0.9210309643233306],
       [0.9194775411289369, 0.5598217641896636, 0.7384890048699067,
        0.4402774114534459, 0.9818012224682571, 0.5294708935328709,
        0.7021286159043567],
       [0.47300144623749696, 0.983064232704509, 0.7845328856398903,
        0.49869219312523594, 0.9126191613743044, 0.12314390634353478,
        0.4721833959670535],
       [0.5782461259403223, 0.9272701038309438, 0.13241942299323484,
        0.3114467944207987, 0.39061779813358055, 0.5338207418643982,
        0.7128037617653407],
       [0.7314658475278154, 0.48105469393455136, 0.24459060174062097,
        0.004589140911413492, 0.4946201572413421, 0.9677005023599554,
        0.34494174773836817],
       [0.9796509383834572, 0.3525423212855373, 0.7220079487386911,
        0.26174373105598103, 0.6675030837263947, 0.7493153393984547,
        0.9051476401103965],
       [0.40004651831810534, 0.8350518528356372, 0.7414887369337937,
        0.6431913713121342, 0.11865325582442654, 0.02002190472074139,
        0.9274475184391451],
       [0.33381183573414086, 0.3005769616153642, 0.6854385242400712,
        0.9226056287441767, 0.8762730278834943, 0.893529428762271,
        0.3842114166146997],
       [0.5098565969133122, 0.8991916896747015, 0.0762993659623441,
        0.8500618634886078, 0.16602546680378916, 0.6383533558886832,
        0.12486836065438767],
       [0.9829954090873235, 0.82496951096444, 0.4578388912894612,
        0.16161402689178084, 0.5100594354933023, 0.43489157897393793,
        0.8335339331711412],
       [0.8406444421587654, 0.6869653027348184, 0.3906752141988895,
        0.5653268645963251, 0.6378842186396718, 0.9487154006518662,
        0.7016178423415842],
       [0.39954261242421474, 0.8098473272315038, 0.26262452421162086,
        0.05381572493659725, 0.11797410362510385, 0.7554475329101462,
        0.2468714331175813],
       [0.5456288911422814, 0.7575785490596685, 0.0352593181606643,
        0.6878653775127322, 0.2612910689014527, 0.7080432540641781,
        0.9187137129949303],
       [0.11222148455301395, 0.9828340034776085, 0.608659760592165,
        0.8083949886616142, 0.7440378948905828, 0.44172397915289996,
        0.927350934386665],
       [0.5678872886016932, 0.9846332926987799, 0.20389360652467237,
        0.15238731806656614, 0.22227561632288162, 0.22353313876239622,
        0.9312902771344884],
       [0.5328288935698839, 0.37359840271073175, 0.4524159297066268,
        0.8396518964855884, 0.86201939181169, 0.49742596413836904,
        0.6756037981091627],
       [0.3801286682573072, 0.42888294818579287, 0.863331713073458,
        0.8616269423124406, 0.7913276180954985, 0.48841146543275826,
        0.05259474307462342],
       [0.05050846014049826, 0.5217469158814021, 0.6981609184372077,
        0.05149674187704589, 0.36885378885104747, 0.3374605842573707,
        0.91777195309136],
       [0.8051464095285608, 0.7305391387152652, 0.26318869626134866,
        0.6323904857345708, 0.8246212324120638, 0.6520721520244502,
        0.01513281229107244],
       [0.644484405725132, 0.1685102723977051, 0.5809216710407075,
        0.5616618466907038, 0.07204442318653292, 0.9535293026108912,
        0.5725733720088653],
       [0.7627505442938123, 0.17144304755684525, 0.22465527203969438,
        0.85034379674415, 0.8115343172280775, 0.03867174204282231,
        0.3549644873364468],
       [0.2616211044991308, 0.6390010497349903, 0.9936139502150027,
        0.4129107295675736, 0.0734181669001257, 0.27226394321752134,
        0.042240128878215266],
       [0.32394859630750905, 0.3236200792717876, 0.5470007001604433,
        0.3562782073004307, 0.4413462286479942, 0.803613410407493,
        0.6315002094420087],
       [0.7835734203157247, 0.7720585407499251, 0.9006195245209166,
        0.29220324390956587, 0.09824359156624596, 0.18554375362489983,
        0.25717619642048106],
       [0.9085518250800227, 0.9945077971581809, 0.47429569490038936,
        0.10181811874870716, 0.5978078103550131, 0.04803619998750297,
        0.4711963045486067],
       [0.564850566784911, 0.5738993196695164, 0.23096926038695154,
        0.12278874596935085, 0.1205791646027301, 0.8142607953877281,
        0.5299200487967503]], dtype=object)

In [250]:
df[0][0] = 34

In [251]:
df

           0         1         2         3         4         5         6
0         34  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [252]:
df.T
# to transpose

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,34,0.152619,0.136533,0.221859,0.656295,0.296351,0.45184,0.447284,0.410911,0.967769,...,0.380129,0.050508,0.805146,0.644484,0.762751,0.261621,0.323949,0.783573,0.908552,0.564851
1,0.274546,0.266994,0.425483,0.970854,0.931661,0.523874,0.857784,0.455955,0.114557,0.682244,...,0.428883,0.521747,0.730539,0.16851,0.171443,0.639001,0.32362,0.772059,0.994508,0.573899
2,0.55347,0.336639,0.575992,0.961476,0.940557,0.825389,0.858823,0.189288,0.834303,0.120092,...,0.863332,0.698161,0.263189,0.580922,0.224655,0.993614,0.547001,0.90062,0.474296,0.230969
3,0.57762,0.111954,0.005484,0.497543,0.858762,0.143142,0.470092,0.360176,0.958895,0.158266,...,0.861627,0.051497,0.63239,0.561662,0.850344,0.412911,0.356278,0.292203,0.101818,0.122789
4,0.176959,0.806981,0.03747,0.784011,0.771145,0.509102,0.767002,0.862949,0.069409,0.510034,...,0.791328,0.368854,0.824621,0.072044,0.811534,0.073418,0.441346,0.098244,0.597808,0.120579
5,0.060686,0.043704,0.889783,0.56424,0.615699,0.926345,0.084474,0.213963,0.104241,0.407603,...,0.488411,0.337461,0.652072,0.953529,0.038672,0.272264,0.803613,0.185544,0.048036,0.814261
6,0.998966,0.902941,0.554794,0.316049,0.887115,0.45451,0.762561,0.960766,0.505585,0.673384,...,0.052595,0.917772,0.015133,0.572573,0.354964,0.04224,0.6315,0.257176,0.471196,0.52992

In [253]:
df

           0         1         2         3         4         5         6
0         34  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [254]:
df.head()

          0         1         2         3         4         5         6
0        34  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1  0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2  0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3  0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4  0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115

In [255]:
df.sort_index(axis=0,ascending=False)
# to sort the

           0         1         2         3         4         5         6
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
..       ...       ...       ...       ...       ...       ...       ...
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
0         34  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966

[77 rows x 7 columns]

In [256]:
type(df[0])

pandas.core.series.Series

In [257]:
df.head()

          0         1         2         3         4         5         6
0        34  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1  0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2  0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3  0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4  0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115

# Views

In [258]:
newdf = df
# here newdf is a view, it is not the copy of df
# to understand this, modify any value in newdf, and print df
# you can see the changes in df also

# view means, it points to the memory location, it will not copy the actual data
# but if you want to copy the data you can use any two of the below
# newdf=df[:]
# newdf=df.copy()

In [259]:
newdf[0][0]=77

In [260]:
newdf

           0         1         2         3         4         5         6
0         77  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [261]:
df

           0         1         2         3         4         5         6
0         77  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [262]:
# have you noticed when you are modifyin gnay value you are getting warning
# it is because the above reason, that is when you modify nay value, it doesn't gaurantee that in next they may copy the data

# use the below format to modify the data

df.loc[0,0]=27

In [263]:
df

           0         1         2         3         4         5         6
0         27  0.274546  0.553470  0.577620  0.176959  0.060686  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [264]:
df.loc[0,5] = 3

In [265]:
df

           0         1         2         3         4         5         6
0         27  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [266]:
df.columns = list("ABCDEFG")

In [267]:
df

           A         B         C         D         E         F         G
0         27  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [268]:
df.head(2)

          A         B         C         D         E         F         G
0        27  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1  0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941

In [269]:
df.loc[0,0] = 90
# here observe that our column names have been changed, but we are still saying 0,0
# so in this case it will create a new column

In [270]:
df

           A         B         C         D         E         F         G     0
0         27  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966  90.0
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941   NaN
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794   NaN
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049   NaN
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115   NaN
..       ...       ...       ...       ...       ...       ...       ...   ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240   NaN
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500   NaN
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176   NaN
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196   NaN
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920   NaN

[77 rows x 8 columns]

In [271]:
# to change the value in 0,A

df.loc[0,'A'] = 56

In [272]:
df.head(2)

          A         B         C         D         E         F         G     0
0        56  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966  90.0
1  0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941   NaN

In [273]:
# now if you want to drop the last column
df = df.drop(0,axis=1)

In [274]:
df.head(2)

          A         B         C         D         E         F         G
0        56  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1  0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941

In [275]:
df.loc[[0,1],['C','D']]

          C         D
0  0.553470  0.577620
1  0.336639  0.111954

In [276]:
df.loc[[0,1],:]
# to get all the columns for 0th and 1st rows

df.loc[:,['A','B']]
# to get all the rows for As and Bs column

           A         B
0         56  0.274546
1   0.152619  0.266994
2   0.136533  0.425483
3   0.221859  0.970854
4   0.656295  0.931661
..       ...       ...
72  0.261621  0.639001
73  0.323949  0.323620
74  0.783573  0.772059
75  0.908552  0.994508
76  0.564851  0.573899

[77 rows x 2 columns]

In [277]:
df.loc[(df['A']<0.3) & df['C']>0.3]

           A         B         C         D         E         F         G
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
5   0.296351  0.523874  0.825389  0.143142  0.509102  0.926345  0.454510
11  0.261476  0.680285  0.137768  0.278555  0.535489  0.022153  0.813381
14  0.213109  0.725240  0.313926  0.083689  0.248620  0.966579  0.652339
22  0.218683  0.070286  0.459120  0.040833  0.944215  0.150089  0.281228
32  0.244923  0.915273  0.600087  0.594885  0.369108  0.089252  0.325426
34  0.172853  0.041490  0.791204  0.724417  0.668601  0.639621  0.166174
36  0.025665  0.454464  0.407241  0.487779  0.182447  0.085892  0.600110
40  0.276331  0.924472  0.789186  0.206163  0.529444  0.778498  0.070763
42  0.298191  0.205686  0.101277  0.435768  0.924873  0.508898  0.131659
44  0.056958  0.897365  0.296941  0.004014  0.152550  0.946779  0.690716
45  0.088343  0.216282  0.605048  0.602314  0.368726  0.934198  0.907687
64  0.112221  0.982834  0.608660  0.808395  0.744038  0.441724  0.927351
68  0.050508  0.521747  0.698161  0.051497  0.368854  0.337461  0.917772
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240

# iloc

In [278]:
# using loc, we can select row/column using it's index name 

# so imagine that my rows and column names might be different
# and selecting them based on their index names is difficult
# to acces any row.column/data using indexing(not real names) then use iloc

df.iloc[:,1] # to select first column
df.iloc[0,:] # to select zeroth row
df.iloc[1,2] # to select fisrt row second column value
df.iloc[[1,5],[1,5]] # to select 1st and 5nd rows and columns

          B         F
1  0.266994  0.043704
5  0.523874  0.926345

In [279]:
df.drop(['A','D'],axis=1)

           B         C         E         F         G
0   0.274546  0.553470  0.176959  3.000000  0.998966
1   0.266994  0.336639  0.806981  0.043704  0.902941
2   0.425483  0.575992  0.037470  0.889783  0.554794
3   0.970854  0.961476  0.784011  0.564240  0.316049
4   0.931661  0.940557  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...
72  0.639001  0.993614  0.073418  0.272264  0.042240
73  0.323620  0.547001  0.441346  0.803613  0.631500
74  0.772059  0.900620  0.098244  0.185544  0.257176
75  0.994508  0.474296  0.597808  0.048036  0.471196
76  0.573899  0.230969  0.120579  0.814261  0.529920

[77 rows x 5 columns]

In [280]:
df
# you didn't drop from the origin dataframe
# if you said df=df.drop(['A','C'],axis=1) then it would have droped from the dataframe and updated in original dataframe
# or use df=df.drop(['A','C'],axis=1, inplace=True)

           A         B         C         D         E         F         G
0         56  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

In [281]:
df.reset_index(drop=True,inplace=True)
# after dropping some tables, indexes will be reset/ordered

In [282]:
df

           A         B         C         D         E         F         G
0         56  0.274546  0.553470  0.577620  0.176959  3.000000  0.998966
1   0.152619  0.266994  0.336639  0.111954  0.806981  0.043704  0.902941
2   0.136533  0.425483  0.575992  0.005484  0.037470  0.889783  0.554794
3   0.221859  0.970854  0.961476  0.497543  0.784011  0.564240  0.316049
4   0.656295  0.931661  0.940557  0.858762  0.771145  0.615699  0.887115
..       ...       ...       ...       ...       ...       ...       ...
72  0.261621  0.639001  0.993614  0.412911  0.073418  0.272264  0.042240
73  0.323949  0.323620  0.547001  0.356278  0.441346  0.803613  0.631500
74  0.783573  0.772059  0.900620  0.292203  0.098244  0.185544  0.257176
75  0.908552  0.994508  0.474296  0.101818  0.597808  0.048036  0.471196
76  0.564851  0.573899  0.230969  0.122789  0.120579  0.814261  0.529920

[77 rows x 7 columns]

# Removing Duplicates

In [283]:
# 1. Remove All Duplicate Rows
df_uniq = df.drop_duplicates()

# 2. Remove Duplicates Based on Specific Columns
df_uniq = df.drop_duplicates(subset=['A'])


# 3. Keep Last Occurrence Instead of First
df_uniq = df.drop_duplicates(keep='last')

# 4. Remove All Duplicates (No First or Last)
df_uniq = df.drop_duplicates(keep=False)

# 5. Remove Duplicates In-Place
# To modify the DataFrame without creating a new one:
df_uniq = df.drop_duplicates(inplace=True)

# Removing Nulls

In [284]:
# 1. Remove Rows with Any Null Value
df_new = df.dropna()

# 2. Remove Rows Only If All Values Are NaN
df_new = df.dropna(how='all')

# 3. Remove Rows Based on a Specific Column
df_new = df.dropna(subset='A')



# 4. Remove Columns with Any Null Values
df_new = df.dropna(axis=1)

# 5. Fill Missing Values Instead of Removing
df_new = df.fillna(0)

C:\Users\chith\AppData\Local\Temp\ipykernel_23252\1943428450.py:16: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new = df.fillna(0)

In [285]:

df.shape

(77, 7)

# df.info

The df.info() function provides a summary of a Pandas DataFrame, including:

1. Number of entries (rows) and columns
2. Column names and data types
3. Number of non-null (non-NaN) values in each column
4. Memory usage of the DataFrame

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       77 non-null     object
 1   B       77 non-null     float64
 2   C       77 non-null     float64
 3   D       77 non-null     float64
 4   E       77 non-null     float64
 5   F       77 non-null     float64
 6   G       77 non-null     float64
dtypes: float64(6), object(1)
memory usage: 4.3+ KB

In [287]:
df.notnull()
# wherever there is no null, it gives True otherwise False

df.isnull()
# reverse of notnull

        A      B      C      D      E      F      G
0   False  False  False  False  False  False  False
1   False  False  False  False  False  False  False
2   False  False  False  False  False  False  False
3   False  False  False  False  False  False  False
4   False  False  False  False  False  False  False
..    ...    ...    ...    ...    ...    ...    ...
72  False  False  False  False  False  False  False
73  False  False  False  False  False  False  False
74  False  False  False  False  False  False  False
75  False  False  False  False  False  False  False
76  False  False  False  False  False  False  False

[77 rows x 7 columns]

# How to handle Excel sheets using Pandas

In [ ]:
data = pd.read_excel('data.xlsx', engine='openpyxl')

data = pd.read_excel('data.xlsx', sheet_name='Sheet2')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.